$accent-bg-color: #286690;
$main-color: #000;
$alt-color: #fff;
$inactive-text-color: #BBBBBB;
$label-color: #C3C3C3;
$accent-color: #3E9CDC;
$active-color: #43ABF0;
$error-color: #e82121;
$dot-color: #C4C4C4;
$border-color: #C3C3C3;

$header-bg-color: rgba(16, 16, 29, 0.9);
$orders-bg-color: #272733;
$footer-bg-color: #3D4050;

$border-color: #6F6D7B;

$select-bg-color: rgba(61, 64, 80, 0.85);
$select-dropdown-bg-color: rgba(39, 39, 51, 0.9);
$select-scroll-bg-color: #3D4050;

$input-text-color: #272323;
$input-bg-color: rgba(255, 255, 255, 0.85);

$range-bg-color: rgba(255, 255, 255, 0.7);
$range-thumb-bg-color: #42A9ED;
$range-thumb-border-color: #286690;